[alias]
  push-for-release = push origin HEAD:refs/for/release
  push-for-review = push origin HEAD:refs/for/master
  push-for-draft = push origin HEAD:refs/drafts/master
  unpushed = log --branches --not --remotes --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
  lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
  ca = commit -a
  ci = commit
  st = status
  co = checkout
  br = branch
